<div class="main-container">
  <mat-toolbar class="app-navbar">
    <button mat-button routerLink="/">
      <img src="../assets/logo.png" width="auto" height="50" alt="">
      <span class="title"> B<b style="font-size: 26px">OFF</b>IN</span>
    </button>

    <div fxLayout="row">
      <button mat-button [routerLink]="['artists']" routerLinkActive="active">Artists</button>
      <button mat-button [routerLink]="['recommendations']" routerLinkActive="active">Recommendations</button>
    </div>

    <!-- This fills the remaining space of the current row -->
    <!--<span class="fill-remaining-space"></span>-->
  </mat-toolbar>

  <div class="app-content content-center">
    <router-outlet></router-outlet>
  </div>
</div>



