.main-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  /*background: linear-gradient(to bottom, #003eff, #00ff9b);*/
}

.content {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.app-navbar {
  background-color: transparent;
}
