<div class="main-container">
  <mat-toolbar class="app-navbar">
    <button mat-button routerLink="/">
      <img src="../assets/logo.png" width="auto" height="50" alt="">
      <span class="title"> B<b style="font-size: 26px">OFF</b>IN</span>
    </button>

    <div fxLayout="row">
      <button mat-button [routerLink]="['artists']" routerLinkActive="active">Artists</button>
      <button mat-button [routerLink]="['recommendations']" routerLinkActive="active">Recommendations</button>
    </div>

    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="onSaveUserTaste()" [hidden]="isHomePage()">
      <mat-icon>save_outline</mat-icon>
    </button>

    <button mat-icon-button (click)="onClearUserTaste()" [hidden]="isHomePage()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-toolbar>

  <div class="app-content content-center">
    <router-outlet></router-outlet>
  </div>
</div>



