.main-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content-center {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
}

.app-navbar {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
}

.title {
  font-size: 18px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.nav-button /deep/ .mat-button-focus-overlay {
  background-color:transparent;
}
