<mat-card class="card app-artist-element"
          [ngClass]="{'selected': isSelected}"
          (click)="onArtistSelected()"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()">

  <div class="img-container" mat-card-image>
    <img class="card-img-top lazy"
         src="../../../assets/img_placeholder.png"
         onError="this.onerror = null; this.src = '../../../assets/img_error.png';"
         #artistImage
         alt="{{artist.imageUrl}}"/>
    <i class="fa fa-heart heart-icon" [@fullHeartState]="fullHeartState"></i>
    <i class="fa fa-heart-o heart-icon" [@emptyHeartState]="emptyHeartState"></i>
  </div>

  <mat-card-content>
    <mat-card-title>{{ artist.name }}</mat-card-title>
    <div class="row" *ngIf="showTags">
      <div class="app-tag-item" *ngFor="let tag of artist.tags">
        <p class="card-text tag-text">{{tag}}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="artist.tags.length && isMobile">
    <mat-icon class="tags-toggle" *ngIf="!showTags" (click)="onTagsToggle($event)">expand_more</mat-icon>
    <mat-icon class="tags-toggle" *ngIf="showTags" (click)="onTagsToggle($event)">expand_less</mat-icon>
  </mat-card-actions>
</mat-card>
