.app-tag-item {
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  background-color: lightgrey;
  border-radius: 15px;
  padding: 2px;
  font-size: 12px;
}
.app-artist-element {
  box-shadow: none !important;
  padding-bottom: 5px !important;
}

.app-artist-element:hover {
  box-shadow: 0 0 1em lightgrey !important;
  cursor: pointer;
}

.app-artist-element:hover img, .selected img{
  opacity: 0.5;
}

.app-artist-element:hover .img-container, .selected .img-container {
  background-color: #000000;
}

.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  opacity: 0;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: #ffffff;
}

.xs-img-conatiner {
  margin-bottom: 5px;
}

.mat-card-title {
  font-size: 20px;
}

.nofocus:focus {
  outline: none;
}

.tag-text {
  padding-left: 2px;
  padding-right: 2px;
}

.xs-app-card-content {
  margin-bottom: 0 !important;
}

.app-card-content {
  margin-bottom: 16px !important;
}

.app-card-title {
  margin-left: -10px;
  margin-right: -10px;
}

.xs-app-card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.app-tags {
  margin-bottom: 16px !important;
}

.xs-app-tags {
  margin-bottom: 0 !important;
}
