:host {
  display: flex;
  flex: 1;
}

.header {
  margin-bottom: 0px !important;
}

.navigation-header {
  margin-bottom: 15px;
}

.date {
  color: rgba(0,0,0,.5);
  font-size: 14px;
}
.stages-header {
  padding-left: 100px;
  color: rgba(0,0,0,.5);
  font-size: 14px;
  border-bottom: thin solid #e1e1e1;
  margin-left: 1px;
  margin-right: 1px;
}

.stages-header p {
  margin-bottom: 5px;
}

.timetable {
  padding: 0 !important;
  color: transparent;
  width: calc(100% - 70px);
}

.hours-segment {
  width: 105px;
  color: rgba(0, 0, 0, 0.5);
  display: block !important;
}
.list-element {
  border-bottom: thin solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto !important;
}

.list-header {
  font-size: 16px;
}

.list-hour {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.list-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

