<div class="app-content app-view-container" [ngClass]="{'center': !loaded}">
  <div *ngIf="!loaded" class="loader"></div>

  <div *ngIf="loaded">
    <div fxLayout="row">
      <div fxFlex="20">
        <button
          mat-mini-fab color="primary"
          [disabled]="selectedDayId === 0"
          (click)="onGoToPrevious()" >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div fxFlex="60" fxLayout="column" fxLayoutAlign.gt-xs="center center">
        <h4>{{days[selectedDayId] | titlecase}}</h4>
        <p class="date">{{ viewDate | date:'d MMMM' }}</p>
      </div>

      <div fxFlex="20" fxLayoutAlign="end start">
        <button
          mat-mini-fab color="primary"
          [disabled]="selectedDayId === days.length - 1" (click)="onGoToNext()" >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>

    <div fxLayout="row" class="stages-header">
      <div fxFlex="25" fxLayoutAlign="center start" class="stage-title" *ngFor="let stageName of getStagesNames()">
        <p> {{stageName}} </p>
      </div>
    </div>

    <div class="scrollable">
      <div fxLayout="row">
        <div class="hours-segment">
          <mwl-calendar-day-view
            [viewDate]="viewDate"
            [events]=""
            [dayStartHour]="15"
            [dayEndHour]="24">
          </mwl-calendar-day-view>
          <mwl-calendar-day-view
            [viewDate]="nextDate"
            [events]=""
            [dayStartHour]="00"
            [dayEndHour]="3">
          </mwl-calendar-day-view>
        </div>

        <div class="timetable">
          <div fxLayout="row">
            <div fxFlex="25" class="timetable" *ngFor="let stageEvents of events">
              <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="stageEvents"
                [dayStartHour]="15"
                [dayEndHour]="24">
              </mwl-calendar-day-view>
              <mwl-calendar-day-view
                [viewDate]="nextDate"
                [events]="stageEvents"
                [dayStartHour]="00"
                [dayEndHour]="3">
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
