<div class="app-content app-view-container" [ngClass]="{'center': !loaded}">
  <div *ngIf="!loaded" class="loader"></div>

  <div *ngIf="loaded" class="app-content">
    <div fxLayout="row">
      <div fxFlex="20">
        <button
          mat-mini-fab color="primary"
          [disabled]="selectedDayId === 0"
          (click)="onGoToPrevious()" >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
        <h4>{{days[selectedDayId] | titlecase}}</h4>
        <p class="date">{{ viewDate | date:'d MMMM' }}</p>
      </div>

      <div fxFlex="20" fxLayoutAlign="end start">
        <button
          mat-mini-fab color="primary"
          [disabled]="selectedDayId === days.length - 1" (click)="onGoToNext()" >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>

    <div fxLayout="row" class="stages-header" fxHide.lt-md>
      <div fxFlex="{{100 / getStagesNames().length}}" fxLayoutAlign="center center" *ngFor="let stageName of getStagesNames()">
        <p> {{stageName}} </p>
      </div>
    </div>

    <div fxFlex fxLayout="row" class="scrollable" fxHide.lt-md>
      <div class="hours-segment">
        <mwl-calendar-day-view
          [viewDate]="viewDate"
          [events]=""
          [dayStartHour]="15"
          [dayEndHour]="24">
        </mwl-calendar-day-view>
        <mwl-calendar-day-view
          [viewDate]="nextDate"
          [events]=""
          [dayStartHour]="00"
          [dayEndHour]="3">
        </mwl-calendar-day-view>
      </div>

      <div class="timetable">
        <div fxLayout="row">
          <div fxFlex="{{100 / getStagesNames().length}}" class="timetable" *ngFor="let stageEvents of events">
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="stageEvents"
              [dayStartHour]="15"
              [dayEndHour]="24">
            </mwl-calendar-day-view>
            <mwl-calendar-day-view
              [viewDate]="nextDate"
              [events]="stageEvents"
              [dayStartHour]="00"
              [dayEndHour]="3">
            </mwl-calendar-day-view>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex fxLayout="row" class="scrollable" fxHide.gt-sm>
      <mat-list fxFlex>
        <div *ngFor="let stageName of getStagesNames(); let i = index">
          <p mat-subheader class="list-header">{{stageName}}</p>
          <mat-list-item
            *ngFor="let event of events[i]"
            class="list-element"
            [ngStyle]="{'background-color': event.color.secondary}">
              <span fxFlex="40" class="list-hour">{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}}</span>
              <span fxFlex="60" class="list-title">{{event.title}}</span>
          </mat-list-item>
          <br>
        </div>
      </mat-list>
    </div>
  </div>
</div>
