:host {
  display: flex;
  flex: 1;
}

.home-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.off-logo {
  padding-right: 0px;
  padding-bottom: 16px;
}

.xs-off-logo-img {
  height: 40px !important;
}