<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <h3>Meet Boffin, your OFF Festival guide</h3>
      <br>
      <p>He is a mad scientist and music freak, who will help you choose artists you should definitely see this year!</p>
      <p>Just tell him, which artists you have loved in past years.</p>
      <br>

      <div class="row text-center">
        <div class="col">
          <a class="btn btn-light" [routerLink]="['artists']" role="button">Start</a>
        </div>
      </div>
    </div>
  </div>
</div>

