<div class="app-content app-view-container" [ngClass]="{'center': !loaded}">
  <div *ngIf="!loaded" class="loader"></div>

  <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="loaded">
    <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" fxFlexOrder.xs="3">
      <mat-form-field class="example-full-width">
        <span matPrefix class="fa fa-search search-prefix"></span>
        <input type="text" matInput placeholder="Artist name..." [(ngModel)]="filterString">
        <button mat-button matSuffix mat-icon-button *ngIf="filterString" (click)="filterString=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxFlexOffset.gt-xs="5" fxFlex.xs="50" fxFlex.gt-xs="25" fxFlexOrder.xs="1">
      <mat-slide-toggle color="primary" (click)="onToggleSelectedArtists()" [checked]="false">
        Selected artists
      </mat-slide-toggle>
    </div>

    <div fxFlex.xs="50" fxFlex.gt-xs fxFlexOrder.xs="2">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onGetRecommendations()">Done</button>
      </div>
    </div>
  </div>

  <mat-tab-group (selectedIndexChange)="onTabSelected($event)" *ngIf="loaded">
    <mat-tab *ngFor="let year of years" label={{year}}>
    </mat-tab>
  </mat-tab-group>

  <div class="app-content scrollable" *ngIf="loaded" #artistGrid>
    <app-artists-grid [artists]="artistsToDisplay | filter:filterString:'name'"></app-artists-grid>
  </div>
</div>

