:host {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}

.app-tabs {
  margin-top: 10px;
}

.nav-link{
  cursor: pointer;
}

.nav-link.active {
  cursor: default;
}

.center {
  align-items: center;
  justify-content: center;
}
